<!--
SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">{{ 'SIDEBAR.HOME' | translate }}</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/', 'pba']">{{ 'SIDEBAR.PBA.TITLE' | translate }}</a></li>
    <li class="breadcrumb-item active">{{ title | translate }}</li>
  </ol>
</nav>
<div class="row">
  <div class="col">
    <!-- controlDisabled=true , siamo in modifica i pulsanti azione sono abilitati -->
    <button type="button" class="btn btn-outline-info" [disabled]="!controlDisabled" *ngIf="hasPermesso('INS_INTERVENTO')" [routerLink]="['/pba', 'intervento']">{{ 'APP.INSERT' | translate }}</button>
    <button type="button" class="btn btn-outline-info" [disabled]="!btModificaEnable" *ngIf="hasPermessoUtente('MOD_INTERVENTO_ALL') || hasPermesso('MOD_INTERVENTO')" (click)="onClickModifica()" >{{ 'APP.MODIFY' | translate }}</button>
    <button type="button" class="btn btn-outline-info" [disabled]="!btAnnullaEnable" *ngIf="hasPermessiUtente('ANN_INTERVENTO_BOZZA_ALL', 'ANN_INTERVENTO_APPROV_ALL', 'ANN_INTERVENTO_VISTO_ALL') || hasPermessi('ANN_INTERVENTO_BOZZA', 'ANN_INTERVENTO_APPROV', 'ANN_INTERVENTO_VISTO')" (click)="onAnnullaIntervento()">{{ 'APP.CANCEL' | translate }}</button>
    <button type="button" class="btn btn-outline-info" [disabled]="!btVolturaEnable" *ngIf="hasPermessoUtente('VOLTURA_INTERVENTO_ALL')" (click)="onVolturaIntervento()" >{{ 'PBA.INTERVENTION.OPERATION.TRANSFER.SIMPLE' | translate }}</button>
    <button type="button" class="btn btn-outline-info" [disabled]="!btPrendiInCaricoEnable" *ngIf="hasPermessoSettore('PRENDI_IN_CARICO_INTERVENTO')" (click)="onPrendiInCaricoIntervento()" >{{ 'PBA.INTERVENTION.OPERATION.TRANSFERHIMSELF.SIMPLE' | translate }}</button>

  </div>
  <div class="col-auto" >
    <button type="button" class="btn btn-outline-info" *ngIf="hasPermessoUtente('VISTA_INTERVENTO_ALL') || hasPermessoSettore('VISTA_INTERVENTO')" (click)="onVistaIntervento()" [disabled]="!btVistaEnable">{{ 'PBA.INTERVENTION.OPERATION.VISTA.SIMPLE' | translate }}</button>
    <button type="button" class="btn btn-outline-info" *ngIf="hasPermessoUtente('RIFIUTA_INTERVENTO_ALL') || (hasPermesso('RIFIUTA_INTERVENTO_SU_GERARCHIA') && settoreInterventoDiCompetenza)" (click)="onRifiutaIntervento()" [disabled]="!btRifiutaEnable">{{ 'PBA.INTERVENTION.OPERATION.REJECT.SIMPLE' | translate }}</button>
    <button type="button" class="btn btn-outline-success ml-auto" *ngIf="hasPermessoUtente('VALIDA_INTERVENTO_ALL') || (hasPermesso('VALIDA_INTERVENTO_SU_GERARCHIA') && settoreInterventoDiCompetenza)" (click)="onApprovaIntervento()" [disabled]="!btApprovaEnable" >{{ 'PBA.INTERVENTION.OPERATION.APPROVE.SIMPLE' | translate }}</button>
    <!-- <button type="button" class="btn btn-outline-info ml-auto" (click)="onStampa('default')"  [disabled]="!initialIntervento?.id" >{{ 'APP.PRINT' | translate }}</button> -->
  </div>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons"></div>
<ngb-tabset #ts="ngbTabset">

  <ngb-tab id="tabDatiGenerali" *ngIf="intervento">
    <ng-template ngbTabTitle>
      <span [ngClass]="{'text-success tabValido': formInterventoValid}">{{ 'PBA.INTERVENTION.FIELD.GENERAL_DATA' | translate }}</span>
    </ng-template>
    <ng-template ngbTabContent>
      <cpass-form-intervento
        [ngbTabset]="ts"
        [initialIntervento]="initialIntervento"
        [intervento]="intervento"
        [controlDisabled]="controlDisabled"
        [settore]="settore"
        [minAnnoAvvioValidator]="intervento?.programma?.anno"
        (newIntervento)="onNewIntervento($event)"
        (formInterventoValid)="onFormInterventoValid($event)"
        (formInterventoReset)="onFormInterventoReset()"
        ></cpass-form-intervento>
    </ng-template>
  </ngb-tab>

  <ngb-tab [title]="'PBA.INTERVENTION.OTHER_DATA.TITLE' | translate" id="tabAltriDati" [disabled]="!formInterventoValid && !controlDisabled" *ngIf="intervento">
    <ng-template ngbTabContent>
      <cpass-form-altri-dati [ngbTabset]="ts"
      (newInterventoAltriDati)="onNewInterventoAltriDati($event)"
      (newListCpv)="onListCpv($event)"
      [intervento]="intervento"
      [listCpv]="listCpv"
      [initialListCpv]="initialListCpv"
      [interventoAltriDati]="interventoAltriDati"
      [initialInterventoAltriDati]="initialInterventoAltriDati"
      [controlDisabled]="controlDisabled"
      ></cpass-form-altri-dati>
    </ng-template>
  </ngb-tab>

  <ngb-tab [title]="'PBA.INTERVENTION.FIELD.AMOUNTS' | translate" id="tabImporti" [disabled]="!formInterventoValid && !controlDisabled" *ngIf="intervento">
    <ng-template ngbTabContent>
      <cpass-form-importi [ngbTabset]="ts"
      (interventoImporti)="onInterventoImporti($event)"
      (interventoSaved)="onInterventoSaved($event)"
      (newInterventoAltriDati)="onNewInterventoAltriDati($event)"
      [initialListInterventoImporti]="initialIntervento.listInterventoImporti"
      [listInterventoImporti]="listInterventoImporti"
      [intervento]="intervento"
      [initialIntervento]="initialIntervento"
      [interventoAltriDati]="interventoAltriDati"
      [initialInterventoAltriDati]="initialInterventoAltriDati"
      [controlDisabled]="controlDisabled"
      ></cpass-form-importi>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


<ng-template #modalAnnulla let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-annulla-title">{{ 'PBA.INTERVENTION.OPERATION.CANCEL.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert [type]="'danger'" [dismissible]="false">{{ 'PBA.INTERVENTION.OPERATION.CANCEL.TEXT' | translate}}</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">{{ 'APP.YES' | translate }}</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">{{ 'APP.NO' | translate }}</button>
  </div>
</ng-template>
<ng-template #modalVoltura let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-voltura-title">{{ 'PBA.INTERVENTION.OPERATION.TRANSFER.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formModalVoltura">
    <div class="modal-body">
      <ngb-alert [type]="'info'" [dismissible]="false">{{ 'PBA.INTERVENTION.OPERATION.TRANSFER.TEXTSINGLE' | translate}}</ngb-alert>
        <ng-select class="form-control" [items]="elencoRup" [virtualScroll]="true" bindLabel="codiceFiscale" formControlName="utenteRup" cpassIsInvalidClass>
          <ng-template ng-label-tmp let-item="item">
            <span>{{ item.cognome + ' ' + item.nome }}</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
            <span title="{{ item.cognome + ' ' + item.nome }}">{{ item.cognome + ' ' + item.nome }}</span >
          </ng-template>
        </ng-select>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">{{ 'APP.UNDO' | translate }}</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()" [disabled]="!this.formModalVoltura.valid">{{ 'APP.CONFIRM' | translate }}</button>
    </div>
  </form>
</ng-template>
