<!--
SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<footer role="contentinfo">

  <div class="pre-footer">

      <div class="container-fluid">
      <a href="https://www.regione.piemonte.it/web/">
        <img alt="csi piemonte" src="assets/img/logo-regione.png">
      </a>
    </div>
  </div>


  <div class="footer">
    <div class="container-fluid">

      <div class="row cont-footer">


        <div class="col-sm-12 col-md-6 col-lg-6">
          <h5>{{ 'FOOTER.CALL_CENTER' | translate }}</h5>
          <p>Lorem ipsum dolor <b>800 333 444</b> </p>
          <p>Lorem ipsum sit amet consetetur</p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <h5 class="sm-t">{{ 'FOOTER.SUPPORT' | translate }}</h5>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum sit amet <b>consetetur elitr</b></p>
        </div>
        <div class="col-12"><p class="border-w"></p></div>
      </div>


      <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-6">
          <p class="small">{{ 'FOOTER.PART_OF' | translate }}</p>
            <img alt="csi piemonte" src="assets/img/unica_footer_claim.png">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 logo-csi">
          <a href="http://www.csipiemonte.it">
            <img alt="csi piemonte" src="assets/img/logocsi.png">
          </a>
        </div>
        <div class="col-12"><p class="border-w"></p></div>

      </div>

        <div class="row mt-3">
        <div class="col-12">
          <a href="/cms/privati/accessibilita" [title]="'FOOTER.ACCESSIBILITY' | translate">{{ 'FOOTER.ACCESSIBILITY' | translate }}</a> -
          <a href="/cms/privati/privacy" [title]="'FOOTER.PRIVACY' | translate">{{ 'FOOTER.PRIVACY' | translate }}</a> -&nbsp;
          <a href="/cms/privati/cookies-policy" [title]="'FOOTER.COOKIE_POLICY' | translate">{{ 'FOOTER.COOKIE_POLICY' | translate }}</a>
        </div>

      </div>

      <!--p class="pull-right">
        <a href="#topLink" id="back-top" (click)="goToTop($event)" [title]="'FOOTER.GO_UP' | translate">{{ 'FOOTER.GO_UP' | translate }} <i class="icon-chevron-up"></i></a>
      </p-->

    </div>
  </div>
</footer>
