/*
* SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
#dest_accordion ::ng-deep .card .card-header {
    background-color: #b3e5fc !important;
    padding: 0;
  }
  #dest_accordion ::ng-deep .card .card-header .btn-link {
    color: black;
  }