/*
* SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.descr-funz-area {
  border: 1px solid #757575;
  padding: 1%;
}

.paginator {
  float: right;
}

.table-impegni {
  text-align: center;
}
