<!--
SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<!-- <a [routerLink]="['/']" class="btn w-100" [class.btn-secondary]="currentUrl && (currentUrl.indexOf('/home') === 0 || currentUrl==='/')">{{ 'SIDEBAR.HOME' | translate }}</a> -->
<ng-container *ngFor="let pm of possibleModules">
  <a
    [routerLink]="pm.routerUrl"
    class="btn w-100"
    [class.btn-secondary]="inSubpath(pm)"
    (click)="loadPermessi(pm)"
    *ngIf="hasModulo(pm)">
    {{ pm.i18n | translate }}
  </a>
</ng-container>
