/*
* SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
#accordion-ricerca ::ng-deep .card .card-header {
    background-color: #178CD6 !important;
    padding: 5px;
}
#accordion-ricerca ::ng-deep .card .card-header .btn-link {
    color: white;
}