<!--
SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<h2>{{ 'APP.TITLE' | translate }} - {{ 'SIDEBAR.PBA.TITLE' | translate }}</h2>
<p></p>
<!-- <h5>
  {{'SIDEBAR.PBA.HEADER.PROGRAM.DESCRIPTION' | translate }}:
    {{elencoProgrammi[0]?.anno  + '-' + (+elencoProgrammi[0]?.anno + 1) + ' - ' + elencoProgrammi[0]?.ente.denominazione + ' - ' + elencoProgrammi[0]?.utenteReferente?.nome +' '+ elencoProgrammi[0]?.utenteReferente?.cognome }}
    {{'SIDEBAR.PBA.HEADER.PROGRAM.STATE' | translate }}: {{elencoProgrammi[0]?.stato.descrizione}}
</h5> -->
