/*
* SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.icon-container{
    text-align: center;
}

.clean-fields-icon {
    color: #6c757d;
}

.clean-fields-icon:hover{
    cursor: pointer;
}