<!--
SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<form [formGroup]="formRicerca"  (submit)="onSubmitCerca()">
  <div class="row">
    <div class="col-12 col-xl-9 form-group">
      <ng-select class="form-control" [items]="elencoProgrammi" [virtualScroll]="true" bindLabel="anno" formControlName="programma" id="programmaInput">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.anno + '-' + (+item.anno + 1) + ' vers. ' + item.versione +' - '+ item.stato.descrizione}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
          <span title="{{ item.anno + '-' + (+item.anno + 1) + ' vers. ' + item.versione  +' - '+ item.stato.descrizione}}">{{ item.anno + '-' + (+item.anno + 1) + ' vers. ' + item.versione  +' - '+ item.stato.descrizione}}</span>
        </ng-template>
      </ng-select>
      <span class="form-highlight"></span>
      <span class="form-bar"></span>
      <label for="programmaInput" class="float-label">{{ 'PBA.INTERVENTION.FIELD.PROGRAM.TYPE' | translate }}</label>
      <div *ngIf="formRicerca.get('programma').touched && formRicerca.get('programma').errors" class="text-danger">
        <div *ngIf="formRicerca.get('programma').errors && formRicerca.get('programma').errors.required">{{ 'ERROR.FIELD.REQUIRED' | translate }}</div>
      </div>
    </div>
    <div class="form-group col-12 col-xl-3 icon-container">
      <i clickable (click)="formRicerca.reset()" class="clean-fields-icon fas fa-backspace fa-2x" cpassTooltip="APP.CLEAN_SEARCH_FIELDS"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-9 form-group">
      <input type="text" class="form-control" id="cuiIntervento" maxlength="21" required formControlName="cuiIntervento" cpassHasValueClass>
      <span class="form-highlight"></span>
      <span class="form-bar"></span>
      <label class="float-label" for="annoInput">{{ 'PBA.INTERVENTION.FIELD.CUI.LONG' | translate }}</label>
      <div *ngIf="formRicerca.get('cuiIntervento').touched && formRicerca.get('cuiIntervento').errors" class="text-danger">
        <div *ngIf="formRicerca.get('cuiIntervento').errors.pattern">{{ 'MESSAGES.PBA-ACQ-P-0018' | translate }}</div>
        <!-- <div *ngIf="f.annoAvvio.errors.pattern">{{ 'ERROR.FIELD.LENGTH_EXACT_NUMERIC' | translate:{length: 4} }}</div> -->
        <!-- <div *ngIf="!f.annoAvvio.valid && f.annoAvvio.dirty">{{ 'ERROR.FIELD.LENGTH_EXACT_NUMERIC' | translate:{length: 4} }}</div> -->
      </div>
    </div>
    <div class="form-group col-12 col-xl-3">
      <button type="submit" class="btn btn-raised btn-default col" [disabled]="!formRicerca.valid">{{ 'APP.SEARCH' | translate }}</button>
    </div>
  </div>
</form>
