/*
* SPDX-FileCopyrightText: Copyright 2019 - 2020 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.link-like {
    border: unset;
    background: unset;
    color: blue;
}

.link-like:hover {
    text-decoration: underline;
    cursor: pointer;
}

